/*** 
====================================================================
	 Fonts
====================================================================
***/

@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');

/*
	font-family: 'Poppins', sans-serif;
*/

/*** 
/*-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
    CSS INDEX
    ===================
    01. Theme default CSS	
    02. Header CSS	
    03. Slider CSS	
    04. About CSS	
    05. Skill CSS	
    06. Service CSS	
    07. Portfolio CSS	
    08. Testimonial CSS	
    09. Contact CSS	
   
-----------------------------------------------------------------------------------*/



/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/


/* 1. Theme default css */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    background-color: #222;
    -webkit-box-shadow: 0 0 40px -10px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0 0 40px -10px rgb(0 0 0 / 20%);
    box-shadow: 0 0 40px -10px rgb(0 0 0 / 20%);
    border-radius: 40px;
}

.w-img img {
    width: 100%;
}

.m-img img {
    max-width: 100%;
}

a,
.btn,
button,
span,
p,
input,
select,
textarea,
li,
img,
*::after,
*::before,
.transition-3,
h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover {
    color: inherit;
    text-decoration: none;
}

a {
    color: #007ced;
    text-decoration: none;
    outline: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

button {
    color: inherit;
    outline: none;
    border: none;
}


button:hover {
    cursor: pointer;
}

button:focus {
    outline: 0;
    border: 0;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #f5f5f5;
    margin-top: 0px;
    line-height: 1;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 16px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
    display: inline-block;
}

p {
    color: #d5d5d5;
    margin: 0 0 10px;
    font-family: 'Poppins', Helvetica, sans-serif;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75em;
}


*::-moz-selection {
    background: #005046;
    color: #ffffff;
    text-shadow: none;
}

::-moz-selection {
    background: #005046;
    color: #ffffff;
    text-shadow: none;
}

::selection {
    background: #005046;
    color: #ffffff;
    text-shadow: none;
}

/*--
    - Input Placeholder
-----------------------------------------*/

*::-webkit-input-placeholder {
    color: #00235a;
    font-size: 14px;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #00235a;
    font-size: 14px;
    opacity: 1;
}

*::placeholder {
    color: #00235a;
    font-size: 14px;
    opacity: 1;
}

/*--
    - Common Classes
-----------------------------------------*/
.fix {
    overflow: hidden;
}

.clear {
    clear: both;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.b-t {
    border-top: 2px solid #333;
}

/*--
    - Background color
-----------------------------------------*/
.sticky-bg-responsive {
    background-color: #333;
}



/*--
    - color
-----------------------------------------*/


/* spacing margin and padding */


.pb-50 {
    padding-bottom: 50px
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-105 {
    padding-bottom: 105px;
}

.pb-110 {
    padding-bottom: 110px;
}

.pb-115 {
    padding-bottom: 115px;
}

.pt-50 {
    padding-top: 50px
}

.pt-100 {
    padding-top: 100px;
}





.mb-30 {
    margin-bottom: 30px;
}

.mt-40 {
    margin-top: 40px
}

.mb-80 {
    margin-bottom: 80px;
}



/*button*/

.btn-primary,
.btn-secondary {
    display: inline-block;
    position: relative;
    padding: .8em 2.1em;
    margin-bottom: .75em;
    margin-right: .25em;
    font-size: 0.9em !important;
    line-height: 1.2;
    border: 0;
    outline: 0;
    border: 2px solid #007ced;
    color: #fff;
    text-shadow: none;
    background-color: #333;
    border-radius: 30px;
    font-family: 'Poppins', Helvetica, sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, .78);
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, .78);
}

.btn-primary:hover {
    background-color: #007ced;
    color: #fff;
    border: 2px solid #007ced;
}

.btn.btn-secondary {
    margin-bottom: 0px !important;
}

.submit-btn .btn.btn-secondary {

    -webkit-transition: none !important;
    transition: none !important;
}

.btn-secondary {
    border-color: #d5d5d5;
    color: #fff;
    background-color: #333;
    -webkit-box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, .78);
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, .78);
}

.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    border-color: #d5d5d5;
    background-color: #d5d5d5;
}

.play-btn:hover {
    border-color: #007ced;
    background: #007ced;
}

.home-buttons .btn-primary {
    margin-bottom: 0 !important;
    margin-right: 5px;
}

.play-btn {
    color: #fff;
    border: 2px solid #d5d5d5;
    background-color: #333;
    -webkit-box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, .78);
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, .78);
    border-radius: 50%;
    width: 51px;
    height: 51px;
    display: inline-block;
    position: relative;
}

.s-btn {
    position: relative;
    padding: .8em 2.1em;
    margin-bottom: .75em;
    margin-right: .25em;
    font-size: 0.9em !important;
    line-height: 1.2;
    border: 0;
    outline: 0;
    border: 2px solid #007ced;
    color: #fff;
    text-shadow: none;
    background-color: #333;
    border-radius: 30px;
    font-family: 'Poppins', Helvetica, sans-serif;
    -webkit-box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, .78);
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, .78);
}

.s-btn:hover {
    color: red;
}



/* scroll to top */

#scroll a {

    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 100;
    display: inline-block;
    padding: 0;
    background-color: #333;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid #222;
    color: #aaa;
    opacity: 1;
    border-radius: 8px;
    visibility: visible;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .12);
}



/*section title*/

.section-title h2 {
    font-size: 2.1rem;
    font-weight: 600;
    margin-bottom: 2.1rem;
    margin-bottom: 2.1rem;
    display: inline-block;
    padding-bottom: 0.9rem;
}

.section-title h2 span {
    color: #007ced;
}

.section-title p {
    font-size: 1.6rem;
}

.section-title h2::before {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    background-color: #353535;
    height: 2px;
    bottom: 0;
}

.section-title h2::after {
    display: block;
    position: absolute;
    content: '';
    width: 30px;
    background-color: #007ced;
    height: 2px;
    bottom: 0;
}




/*===================================================================================*/
/*  HEADER CSS START
/*===================================================================================*/


/*.transparent-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}*/



/*header logo*/
.logo-symbol {
    float: left;
    width: 44px;
    height: 44px;
    line-height: 44px;
    background-color: #007ced;
    border-radius: 100px;
    text-align: center;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    margin-right: 8px;
    margin-top: 4px;
}

.logo-text {
    float: left;
    line-height: 50px;
    /* font-size: 20px; */
    color: #fff;
    font-weight: 600;
}

.logo-text span {
    font-weight: 400;
}

.logo {
    float: left;
    padding: 2.9rem 0;
}

/*header sticky*/

.sticky {
    background-color: #333 !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    -webkit-animation-name: fadeInDown;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: anim_titles;
    -moz-animation-duration: 5s;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -webkit-animation-duration: .7s;
    -moz-animation-duration: .7s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -webkit-box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
}


.site-title {
    font-size: 2.154em;
    font-weight: 400;
    line-height: 1.036em;
    letter-spacing: .071em;
    -webkit-transition: margin .2s linear;
    transition: margin .2s linear;
    display: block;
    padding-bottom: 7px;
}

.site-title {
    border-bottom: .3rem solid #007ced;
}

.site-title a {
    color: #f5f5f5;
}


/*main menu*/

.show-links {
    height: 330px !important;
    padding: 15px 0 0 0;
    background: #333;
}

button.nav-toggle i {
	font-size: 22px;
	/* background: #0c0707; */
	color: #ddd;
}

.main-menu {
    display: block;
    float: right;
    position: relative;
}

.main-menu li {
    position: relative;
    color: #333;
    margin-right: 3.8rem;
    height: auto;
}

.main-menu nav ul li.active > a {
    color: #fff;
    opacity: 1;
}


.main-menu li a {
    color: #f5f5f5;
    text-decoration: none;
    line-height: 5rem;
    font-size: 1.5rem;
    opacity: .55;
    text-transform: capitalize;
    display: block;
    padding: 2.7rem 0;
}

.main-menu li:hover a {
    opacity: 1;
}

/*main menu end*/



.slider-img img {
    width: 100%;
}

.btn.play-btn {
    border-radius: 50%;
    width: 51px;
    height: 51px;
    display: inline-block;
    position: relative;
}

.btn.play-btn img {
    padding-top: 5px;
    padding-left: 2px;
}

.play-btn::after {
    content: "Play Video";
    position: absolute;
    right: -105px;
    top: 13px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    color: #ddd;
    text-transform: uppercase;
}


/*banner*/

.banner-text {
    padding-left: 123px;
}

.banner-text h2 {
    font-size: 4rem;
    line-height: 5.6rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    color: #f5f5f5;
}

.banner-text h3 {
    font-size: 3.5rem;
    line-height: 6rem;
    margin: 0;
    margin-bottom: 1rem;
}


.banner-text h4 {
    font-size: 1.7rem;
    color: #aaa;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1.7rem;
    letter-spacing: 0.1rem;
}

.banner-text h5 {
    color: #f5f5f5;
    font-size: 2.5rem;
    line-height: 6rem;
    font-weight: 400;
}

.banner-text h2 span {
    font-weight: 500;
}

.banner-text p {
    padding-right: 50px;
    font-size: 1.6rem;
}


.home-buttons {
    margin-top: 2.6rem;
}





/*===================================================================================*/
/*  About Section
/*===================================================================================*/

.about-content {
    margin-bottom: 2.4rem;
}

.about-content p {
    font-size: 1.6rem;
}


.about-content h3 {
    font-size: 2.1rem;
    font-weight: 600;
    color: #f5f5f5;
}


.about-img img {

    border: 18px solid #444;
    background: #444;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, .8);
    /* width: 450px; */
}

.paragraph strong {
    font-size: 18px;
    font-weight: 600;
}

.paragraph {
    color: #fff;
}

.paragraph {
    color: #f5f5f5;
    font-size: 1.7rem;
    font-style: normal;
}



.social-link-inline li {
    width: 30px;
    height: 30px;
    background: #333;
    line-height: 30px;
    text-align: center;
    margin-right: 6px;
}



.social-link-inline li a {
    color: #9e9e9e;
}

.social-link-inline li a {
    font-size: 16px;
}

.social-link-inline li a:hover {
    color: #007ced;
}

.social-link {
    margin-top: 2.2rem;
}








/*===================================================================================*/
/*  SKILl Section
/*===================================================================================*/

.clearfix h4 {
    font-size: 1.3rem;
    line-height: 1.1em;
    position: relative;
    float: left;
    margin: 0 0 .4rem;
}


.skills-value {
    font-size: 1.1rem;
    line-height: 1.1em;
    position: relative;
    float: right;
    margin: 0 0 .4rem;
    color: #888;
}


.skills-container {
    position: relative;
    background-color: transparent;
    border: 2px solid #444;
    border-radius: .8rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 12px;
    margin-bottom: 1.5rem;
    width: 100%;
}

.skills-percentage {
    background-color: #007ced;
    border: .2rem solid #222;
    border-radius: .9rem;
    height: .8rem;
    padding: 0;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    width: 0%;
}


/*html animaiton*/

.skills-percentage.html {
    -webkit-animation-name: html;
    animation-name: html;
}


@-webkit-keyframes html {
    to {
        width: 94%;
    }
}

@keyframes html {
    to {
        width: 94%;
    }
}



/*css animaiton*/

.skills-percentage.css {
    -webkit-animation-name: css;
    animation-name: css;
}


@-webkit-keyframes css {
    to {
        width: 88%;
    }
}

@keyframes css {
    to {
        width: 88%;
    }
}

/*bootstrap animaiton*/

.skills-percentage.bootstrap {
    -webkit-animation-name: bootstrap;
    animation-name: bootstrap;
}


@-webkit-keyframes bootstrap {
    to {
        width: 96%;
    }
}

@keyframes bootstrap {
    to {
        width: 96%;
    }
}

/*javascript animaiton*/

.skills-percentage.javascript {
    -webkit-animation-name: javascript;
    animation-name: javascript;
}


@-webkit-keyframes javascript {
    to {
        width: 65%;
    }
}

@keyframes javascript {
    to {
        width: 65%;
    }
}

/*jquery animaiton*/

.skills-percentage.jquery {
    -webkit-animation-name: jquery;
    animation-name: jquery;
}


@-webkit-keyframes jquery {
    to {
        width: 85%;
    }
}

@keyframes jquery {
    to {
        width: 85%;
    }
}



/*sass animaiton*/


.skills-percentage.sass {
    -webkit-animation-name: sass;
    animation-name: sass;
}


@-webkit-keyframes sass {
    to {
        width: 90%;
    }
}


@keyframes sass {
    to {
        width: 90%;
    }
}



.skills-content h4 {
    display: inline-block;
    position: relative;
    font-size: 2.1rem;
    margin: 0 0 1.5rem;
    z-index: 1;
    padding-bottom: .7rem;
}

.skills-content p {
    font-size: 1.5rem;
}




/*===================================================================================*/
/*  SERVICE Section
/*===================================================================================*/

.services-item {
    background: #333;
    padding: 5rem 3rem;
    border: .2rem solid #444;
    border-radius: 1.5rem;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}

.services-item span i {
    color: #f5f5f5;
    font-size: 5rem;
}

.services-item:hover {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
    -webkit-box-shadow: 0 0 2.4rem rgba(255, 255, 255, 0.14);
    -o-box-shadow: 0 0 2.4rem rgba(255, 255, 255, 0.14);
    box-shadow: 0 0 2.4rem rgba(255, 255, 255, 0.14);
}

.offer-no {
    position: absolute;
    color: #f5f5f5;
    right: 7%;
    top: 6%;
    font-size: 1.6rem;
    font-weight: 400;
    -webkit-transition: .4s;
    transition: .4s;
}


.services-item:hover .offer-no {
    -webkit-transform: scale(2);
    transform: scale(2);
}




/*===================================================================================*/
/*  PORTFOLIO SECTION
/*===================================================================================*/

.single-portfolio-img {
    -webkit-box-shadow: 0px 0px 2.5rem 0px rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 2.5rem 0px rgba(0, 0, 0, .8);
}

.single-portfolio-img img {
    width: 100%;
}

.single-portfolio .portfolio-hover-icon {
    position: absolute;
    left: 50%;
    top: calc(70% - 20px);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    z-index: 2;
}

.single-portfolio .portfolio-hover-icon a {
    margin: 0 .4rem;
}


.single-portfolio .portfolio-hover-icon a {
    width: 3.6rem;
    height: 3.6rem;
    background: #333;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 3.5rem;
    font-size: 1.6rem;
    opacity: 0;
    visibility: hidden;
}


.single-portfolio:hover .portfolio-hover-icon a {
    opacity: 1;
    visibility: visible;
}


.single-portfolio:hover .portfolio-hover-icon {
    top: calc(70% - 5rem) !important;
}





.single-portfolio::after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    background: #333;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}


.single-portfolio:hover.single-portfolio::after {
    opacity: 0.9;
    visibility: visible;

}

.single-portfolio .portfolio-hover-icon a:hover {
    background: #f5f5f5;
    -webkit-transition: .3s linear;
    transition: .3s linear;
    color: #007ced;
}




/*===================================================================================*/
/*  TESTIMONIAL SECTION
/*===================================================================================*/


.testimonial-item {
    padding: 3rem 2rem 2rem 3rem;
    background: #282828;
    border: 2px solid #444;
    border-radius: .8rem;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    margin-bottom: 2.5rem;
}

.testimonial-author-info h5 {
    margin-bottom: 1.3rem;
}

.testimonial-thumb img {
    border-radius: 50%;
    width: 11rem !important;
    height: 11rem !important;
    margin-bottom: 2.5rem;
    display: inline-block !important;
}

.testimonial-content p {
    font-style: italic;
}





/*testimonial slider*/

.testimonial-slider .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
}

.testimonial-slider.owl-carousel .owl-dots .owl-dot span {
    display: block;
    height: 3px;
    background-color: #454545;
    border-radius: 3px;
    margin: 4px;
    width: 20px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.testimonial-slider.owl-carousel .owl-dots {
    position: relative;
    width: 100%;
    text-align: center;
}

.testimonial-slider.owl-carousel .owl-dot {
    display: inline-block;
    margin: 3px 0;
}


.testimonial-slider.owl-carousel .owl-dot.active span {
    background-color: #007ced;
    width: 3rem;
}



/*===================================================================================*/
/*  CONTACT SECTION
/*===================================================================================*/


.input-form-box input,
.input-form-box textarea {
    width: 100%;
    padding: 0 1rem;
    border-radius: 5px;
    border: 2px solid #555;
    display: block;
    color: #eee;
    background: 0 0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: poppins, Helvetica, sans-serif;
    font-size: 1em;
    padding: 1rem 2.5rem 1rem 1.2rem;
    border-radius: .5rem;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.input-h {
    height: 4.3rem;
}

.form-group {
    position: relative;
    margin: 0 0 21.5px;
}

.form-group input::-webkit-input-placeholder,
.input-form-box textarea::-webkit-input-placeholder {
    color: #f5f5f5;
    font-weight: 400;
    opacity: .55;
}

.form-group input:-ms-input-placeholder,
.input-form-box textarea:-ms-input-placeholder {
    color: #f5f5f5;
    font-weight: 400;
    opacity: .55;
}

.form-group input::placeholder,
.input-form-box textarea::placeholder {
    color: #f5f5f5;
    font-weight: 400;
    opacity: .55;
}

.input-form-box input:focus:invalid,
.input-form-box textarea:focus:invalid {
    border-color: #105bac;
    ;
    outline: 0;
}

.input-form-box input:focus,
.input-form-box textarea:focus {
    border-color: red;
    ;
}

textarea#messagebox {
    /*height: 16.8rem;*/
    resize: vertical;
}


/*scrollbar*/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    width: 10px;
    background: #fff;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
}

::-webkit-scrollbar-thumb {
    width: 0;
    height: 35%;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    background: #d5d5d5;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    border-right: 0px solid #fff;
    cursor: pointer;
}


/*===================================================================================*/
/*  FOOTER SECTION
/*===================================================================================*/

.footer-copyright-text {
    background-color: #252525;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 20px 20px;
    text-align: center;
    padding-bottom: 35px;
}

.footer-copyright-text p {
    margin-bottom: 0px !important;
    margin-top: 15px;
}


